<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="HTML5 Audio Spectrum Visualizer">
        <title>HTML5 Audio API showcase | Audio visualizer</title>
        <link type="text/css" rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <!--
        <div id="dragzone">
            <div class="cover"></div>
            <div class="hint">
                Drag music here
            </div>
            <input type="file" id="selected-file"></input>
        </div>
        -->

        <div class="song-info">
            <div class="title"></div>
            <div class="words">to 意意</div>
            <div class="words">你身体中有自己未曾发现的力量，可以带领你身边的人走出困境和黑暗</div>
            <div class="words">你为我点亮过前进的路，这一次，相信你一定可以为家人做得更好</div>
            <div class="words">为守护自己的所爱</div>
            <div class="words">请成为那夜空中最亮的星！</div>
            <div class="words">yours 孟骁 ❤</div>
        </div>

        <div id="visualizer">
            <canvas width="800" height="300"></canvas>
        </div>

        <iframe name="_player" id="_player" style="display: none;"></iframe>


        <script type="text/javascript" src="/static/js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="/static/js/index.js"></script>
    </body>
</html>
